server:
  port: 8010

spring:
  application:
    name: zivdah-review-service
  # dev
  #  datasource:
  #    url: jdbc:postgresql://localhost:5432/zivdahDB
  #    username: postgres
  #    password: root
  #    driver-class-name: org.postgresql.Driver

  # local
  datasource:
    url: jdbc:postgresql://localhost:5432/zivdahDB
    username: postgres
    password: root
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

eureka:
  instance:
    prefer-ip-address: true
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka

logging:
  level:
    org.springframework.security: DEBUG



