version: '3.8'

services:

  redis:
    image: redis:alpine
    container_name: redis
    ports:
      - "6380:6379"

  postgres-db:
    image: postgres:alpine
    container_name: postgres-db
    environment:
      POSTGRES_DB: zivdahDB
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root
    ports:
      - "5433:5432"

  zookeeper:
    image: confluentinc/cp-zookeeper:7.6.0
    container_name: zookeeper
    ports:
      - "2181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000

  kafka:
    image: confluentinc/cp-kafka:7.6.0
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

#services:
#  redis:
#    image: redis:alpine
#    container_name: redis
#    ports:
#      - "6380:6379"
#    command: ["redis-server", "--appendonly", "yes"]
#
#  postgres-db:
#    image: postgres:alpine
#    container_name: postgres-db
#    environment:
#      POSTGRES_DB: zivdahDB
#      POSTGRES_USER: postgres
#      POSTGRES_PASSWORD: root
#    ports:
#      - "5433:5432"
#
#
#  zookeeper:
#    image: bitnami/zookeeper:3.7
#    container_name: zookeeper
#    ports:
#      - "2181:2181"
#    environment:
#      ALLOW_ANONYMOUS_LOGIN: yes
#
#  kafka:
#    image: bitnami/kafka:3.7
#    container_name: kafka
#    ports:
#      - "9092:9092"
#    environment:
#      KAFKA_BROKER_ID: 1
#      KAFKA_CFG_ZOOKEEPER_CONNECT: zookeeper:2181
#      KAFKA_CFG_LISTENERS: PLAINTEXT://:9092
#      KAFKA_CFG_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
#      ALLOW_PLAINTEXT_LISTENER: yes
#    depends_on:
#      - zookeeper