server:
  port: 8003

spring:
  application:
    name: zivdah-product-service

  cache:
    type: redis

  data:
    redis:
      host: localhost
      port: 6380

  datasource:
    url: jdbc:postgresql://localhost:5433/zivdahDB
    username: postgres
    password: root
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka

logging:
  level:
    org.springframework.cache: TRACE
    org.springframework.data.redis.cache: TRACE